{% load static %}

{% include "global/partials/_header.html" %}

    <section>
        <div class="belem-home">
            <img src="{% static "global/img/Cidade-de-Belem2.png" %}" alt="Imagem de Belém-Pa">
        </div>
        <div class="conteudo-home">
            <h1>Sobre</h1>
            <p>Belém, capital do estado do Pará, é um verdadeiro portal para a Amazônia, combinando a riqueza natural com uma herança cultural vibrante. Conhecida por sua culinária diversificada e deliciosa, que mistura ingredientes típicos da Amazônia, como tucupi, jambu, e peixe fresco, Belém também encanta com sua arquitetura histórica e tradições populares. Seus mercados e feiras ao ar livre, como o icônico Ver-o-Peso, oferecem uma experiência única para quem deseja explorar a cultura local.</p>
        </div>
        
        <div class="carrossel">
            {% include "global/partials/_carrossel_home.html" %}
        </div>
        
        <div class="saber-pt">
            <p>Para saber mais sobre esses pontos turisticos click <a href="{% url "pontos_turisticos" %}">aqui</a></p>
        </div>
        <div class="melhor-rota">
            <p>Saiba qual a melhor rota <span>sustentável</span> para você conhecer pontos turisticos, basta clicar <a href="{% url "rotas" %}">aqui</a></p>
        </div>
    </section>

{% include "global/partials/_footer.html" %}