#map{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    width: 100%;
}

.filtros{
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: left;
    align-items: center;
    background-color: #E0F7E9;  
    padding: 10px;
    border: none;
    border-radius: 5px;
}

select{
    border: none;
    background-color: #E0F7E9;
}

.filtro-div{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.button-filtrar button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-filtrar button:hover {
    background-color: #388e3c;
}
.button-rota{
    text-align: center;
}

button a{
    text-decoration: none;
    color: white;
}

.button-rota button{
    margin-top: 30px;
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.button-rota button:hover {
    background-color: #388e3c;
}

.button-rota a{
    text-decoration: none;
    color: white;
}

@media (max-width: 1030px) {
    .button-rota button{
        width: 100%;
    }
}

@media (max-width: 1024) {    
    .button-rota button{
        width: 80%;
    }
}

h2{
    margin-top: 30px;
}