{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nome_da_pagina }}</title>
    <link rel="stylesheet" href="style_avaliacao.css">
    <link rel="shortcut icon" href="{% static "global/img/logo-ecotur.ico" %}" type="image/x-icon">
</head>
<body>
    <div>
        <img src="{% static "global/img/close_white_36dp.svg" %}" alt="">
    </div>

    <div>
        <h2> Frase da Pergunta? </h2>
    </div>

    

    <div>
        <button>

        </button>
    </div>
</body>
</html>