{% load static %}

<div class="card-geral">
    <div class="card">
        <div class="img-ponto-turistico">
            <img src="{% static 'global/img/Bioma Amazônico.png' %}" alt="Imagem do Ponto Turístico">
        </div>
        <div class="dados">
            <h3>{{ ponto.nome }}</h3>
            <ul>
                {% for chave, valor in ponto.items %}
                    <li><strong>{{ chave|capfirst }}:</strong> {{ valor }}</li>
                {% endfor %}
                <p><a href="#"> Saiba mais</a></p>
            </ul>
            {% if exibir_botao %}
                <div class="button">
                    <button class="adicionar-rota" >
                        {{ nome_botao }}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>