<section>
    <div>
        <div>
            <img src="#" alt="Imagem">
        </div>
        <div>
            <div>
                <h3>Nome do Produto</h3>
                <ul>
                    <li><p>Descrição: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem commodi quae natus animi. Facilis, quia ipsum nisi in laboriosam, eaque iste fuga incidunt repellendus libero, doloribus eveniet. Debitis, nihil eveniet!</p></li>
                    <li><p>Dificuldade de Acesso: Fácil</p></li>
                    <li><p>Tempo de Visita: 1h e 15min</p></li>
                </ul>
            </div>
            <div>
                <button>
                    <p>Adicionar à Rota</p>
                </button>
            </div>
        </div>
    </div>
</section>