{% load static %}    
    <div class="content">
        <h2>Curiosidades e História dos Pontos Turísticos de Belém</h2>

        <!-- Ponto Turistico 1 -->
        <div class="tour-point">
            <h3>Ponto Turistico 1</h3>
            <div class="galeria-de-imagem">
                <div class="image-container">
                    <img src="imagem-1.jpg" alt="Ponto Turistico 1-1">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-2.jpg" alt="Ponto Turistico 1-2">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-3.jpg" alt="Ponto Turistico 1-3">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-4.jpg" alt="Ponto Turistico 1-4">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
            </div>
        </div>

        <!-- Ponto Turistico 2 -->
        <div class="tour-point">
            <h3>Ponto Turistico 2</h3>
            <div class="galeria-de-imagem">
                <div class="image-container">
                    <img src="imagem-1.jpg" alt="Ponto Turistico 2-1">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-2.jpg" alt="Ponto Turistico 2-2">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-3.jpg" alt="Ponto Turistico 2-3">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-4.jpg" alt="Ponto Turistico 2-4">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
            </div>
        </div>

        <!-- Ponto Turitico 3 -->
        <div class="tour-point">
            <h3>Ponto Turitico 3</h3>
            <div class="galeria-de-imagem">
                <div class="image-container">
                    <img src="imagem-1.jpg" alt="Ponto Turitico 3-1">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-2.jpg" alt="Ponto Turitico 3-2">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-3.jpg" alt="Ponto Turitico 3-3">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-4.jpg" alt="Ponto Turitico 3-4">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
            </div>
        </div>

        <!-- Ponto Turistico 4 -->
        <div class="tour-point">
            <h3>Ponto Turistico 4</h3>
            <div class="galeria-de-imagem">
                <div class="image-container">
                    <img src="imagem-1.jpg" alt="Ponto Turistico 4-1">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-2.jpg" alt="Ponto Turistico 4-2">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-3.jpg" alt="Ponto Turistico 4-3">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-4.jpg" alt="Ponto Turistico 4-4">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
            </div>
        </div>

        <!-- Ponto Turistico --->
        <div class="tour-point">
            <h3>Ponto Turistico 5</h3>
            <div class="galeria-de-imagem">
                <div class="image-container">
                    <img src="imagem-1.jpg" alt="Ponto Turistico 5-1">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-2.jpg" alt="Ponto Turistico 5-2">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-3.jpg" alt="Ponto Turistico 5-3">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
                <div class="image-container">
                    <img src="imagem-4.jpg" alt="Ponto Turistico 5-4">
                    <div class="address">nome/endereço do ponto turistico</div>
                </div>
            </div>
        </div>
    </div>