    <footer>
        <div>
            <a href="#" target="_blank"> 
                <img src="#" alt="Logo BSI">
                <p>Sistemas de Informação</p>
            </a>
            <a href="#" target="_blank"> 
                <img src="#" alt="Logo UFRA">
                <p>UFRA</p>
            </a>
            <a href="#" target="_blank"> 
                <img src="#" alt="Logo ICIBI">
                <p>ICIBI</p>
            </a>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo blanditiis est, sit, quas consequatur praesentium modi culpa iusto adipisci ad optio. Aspernatur laborum autem ratione dolor praesentium illum enim sint.</p>
        </div>
    </footer>
</body>
</html>