{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "global/css/style_header.css" %}">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <div class="img_fundo_header">
            <img src={% static "global/img/Bioma Amazônico.png" %} alt="Imagem Da Amazônia">
        </div>
        <div class="menu">
            <nav>
                <ul class="menu-1">
                    <li>
                        <ul class="lista-1">
                            <li>
                                <a href="#">Histórico de Rotas</a>
                            </li>
                            <li>
                                <a href="#">Histórico de Pacotes</a>
                            </li>
                            <li>
                                <a href="#">Minha Conta</a>
                            </li>
                            <li>
                                <a href="#">Sair</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">EcoTur</a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static "global/img/icone_user.png" %}" alt="Imagem do Ícone de Usuário"></a>
                    </li>
                </ul>
                <ul class="menu-2">
                    <li>
                        <a href="#">Rotas</a>
                    </li>
                    <li>
                        <a href="#">Pontos Turisticos</a>
                    </li>
                    <li>
                        <a href="#">Recompensas</a>
                    </li>
                    <li>
                        <a href="#">Sugestões</a>
                    </li>
                    <li>
                        <a href="#">Guia Turistico</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>