*{
    margin: 0;
    padding: 0;
}

.usuario{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: antiquewhite;
    padding: 10px;
    width: 20%;
    align-items: center;
}

.usuario img{
    height: 30px;
}

.frase-inicial{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.frase-inicial span{
    color: #4caf50;
    font-weight: bold;
}

.historico-acoes{
    margin-top: 30px;
    margin-bottom: 30px;
}

.historico-acoes ul{
    margin-left: 30px;
}

.missoes{
    margin-top: 30px;
    margin-bottom: 30px;
}

.missoes ul{
    margin-left: 30px;
}

.button{
    text-align: center;
}

.button button{
    margin-top: 30px;
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.button button:hover {
    background-color: #388e3c;
}

.button a{
    text-decoration: none;
    color: white;
}

.sem_login{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.sem_login button{
    width: 300px;
    height: 80px;
    text-align: center;
}

h3{
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 1030px) {
    .button button{
        width: 100%;
    }
}

@media (max-width: 1024) {    
    .button button{
        width: 80%;
    }
}