.propaganda img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    height: 300px;
    border-radius: 5px;
}

.propaganda{
    display: flex;
    justify-content: center;
}

.detalhes ul{
    text-decoration: none;
    list-style: none;
    display: block;
    margin-left: 30px;
}

h2{
    text-align: left;
    color: #2e7d32;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sobre-guia{
    margin-left: 30px;
}

.sobre-guia img{
    height: 25px;
    gap: 10px;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 20%;
}

.roteiro ul, a{
    text-decoration: none;
    color: black;
}

.roteiro li{
    margin-left: 40px;
}

.contatos{
    margin-left: 30px;
    margin-bottom: 30px;
    gap: 80px;
    display: flex;
    justify-content: left;
}
.link-contato{
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.contatos img{
    height: 40px;
}

.button-contato{
    text-align: center;
}

.button-contato button{
    margin-top: 30px;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.button-contato button:hover {
    background-color: #388e3c;
}

.button-contato a{
    text-decoration: none;
    color: white;
}

.button-avaliacao{
    text-align: left;
}

.button-avaliacao button{
    margin-bottom: 10px;
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 10px;
}

.button-avaliacao button:hover {
    background-color: #388e3c;
}

.button-avaliacao a{
    text-decoration: none;
    color: white;
}

@media (max-width: 1030px) {
    .propaganda img{
        width: 100%;
    }

    .button-contato button{
        width: 100%;
    }

    .button-avaliacao button{
        width: 30%;
    }

    .contatos{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .user{
        width: 70%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}

@media (max-width: 1024) {    
    .button-contato button{
        width: 80%;
    }

    .button-avaliacao button{
        width: 50%;
    }

    .contatos{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .user{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}