{% load static %}
{% include "global/partials/_header.html" %}

    <section>
        <h1>Pontos Visitados</h1>
        <div class="rota-recente">
            <div class="info-recente">
                <img src="{% static "global/img/belem-inicio-c.png" %}" alt="Google Maps Trajeto">
                <h3>Saída - Ponto Turistico Final</h3>
                <p>Data de Inicio ° Horário - Data de termino ° Horário</p>
                <div class="buttons">
                    <button class="avaliar"> Avaliar </button>
                    <button class="refazer-rota"> Refazer Rota </button>
                </div>
            </div>
        </div>

        <div class="infor">
            <div>
                <h3>Saída - Ponto Turistico Final</h3>
                <p>Data de Inicio ° Horário - Data de termino ° Horário</p>
                <div class="buttons">
                    <button class="avaliar"> Avaliar </button>
                    <button class="refazer-rota"> Refazer Rota </button>
                </div>
            </div>
        </div>

        <div class="infor">
            <div>
                <h3>Saída - Ponto Turistico Final</h3>
                <p>Data de Inicio ° Horário - Data de termino ° Horário</p>
                <div class="buttons">
                    <button class="avaliar"> Avaliar </button>
                    <button class="refazer-rota"> Refazer Rota </button>
                </div>
            </div>
        </div>
    </section>

{% include "global/partials/_footer.html" %}