{% load static %}

{% include "global/partials/_header.html" %}

    <section>
        <h1>Suas Recompensas Ecológicas</h1>

        <div>
            <div>
                <img src="#" alt="Icone Usuário">
            </div>
            <div>
                @nome_usuario
            </div>
        </div>

        <div>
            <p>Parabéns, Nome_do_usuário! Você possui <span>xxx</span> pontos pelas práticas ecológicas.</p>
        </div>

        <div>
            <h2>Histórico de Ações Ecológicas</h2>
            <ul>
                <li>Ação Ecológica - Data - Pontos</li>
                <li>Reciclou 2 garrafas pets - 18/11/2024 - 17 pontos</li>
            </ul>
        </div>

        <div>
            <h2>Missões Para Ganhar Pontos</h2>
            <ul>
                <li>Separe seu lixo por material - Quantidade de Pontos;</li>
                <li>Ande de ônibus duas vezes na semana - Quantidade de Pontos;</li>
                <li>Recicle dois objetos encontrados na rua - Quantidade de Pontos;</li>
            </ul>
        </div>

        <div>
            <button>
                Resgatar
            </button>
        </div>
    </section>

{% include "global/partials/_footer.html" %}