{% load static %}

{% include "global/partials/_header.html" %}

    <section>
        <h1>Contrate Seu Guia Turístico!</h1>
        <p>Explore a cidade com a ajuda de guias locais experientes! Escolha entre diversos pacotes que combinam os melhores pontos turísticos. Nossos guias criaram roteiros cuidadosamente selecionados para proporcionar uma experiência única.</p>
        <div class="filtro-guia">
            <ul>
                <li>
                    <div class="opcao">
                        <select name="filtros" id="filtros">
                            <option value="belem">Belém</option>
                            <option value="ananindeua">Ananindeua</option>
                            <option value="marituba">Marituba</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="filtros">
                        <details>
                            <summary>Filtros</summary>
                    
                            <!-- Filtro de Tempo -->
                            <div class="filtro-item">
                                <label for="tempo">Dificuldade</label>
                                <select name="tempo" id="tempo">
                                    <option value="todos">Todos</option>
                                    <option value="tempo-curto">Fácil</option>
                                    <option value="tempo-médio">Médio</option>
                                    <option value="tempo-longo">Difícil</option>
                                </select>
                            </div>

                            <div class="filtro-item">
                                <label for="tempo">Tempo</label>
                                <select name="tempo" id="tempo">
                                    <option value="todos">Todos</option>
                                    <option value="tempo-curto">Até 1 hora</option>
                                    <option value="tempo-médio">Até 2 horas</option>
                                    <option value="tempo-longo">+ 2 hora</option>
                                </select>
                            </div>
                    
                            <!-- Filtro de Distância -->
                            <div class="filtro-item">
                                <label for="distancia">Distância</label>
                                <select name="distancia" id="distancia">
                                    <option value="todos">Todos</option>
                                    <option value="curta">Curta</option>
                                    <option value="media">Média</option>
                                    <option value="longa">Longa</option>
                                </select>
                            </div>
                    
                            <!-- Filtro de Popularidade -->
                            <div class="filtro-item">
                                <label for="popularidade">Popularidade</label>
                                <select name="popularidade" id="popularidade">
                                    <option value="todos">Todos</option>
                                    <option value="popular-alta">Alta</option>
                                    <option value="popular-moderada">Moderada</option>
                                    <option value="popular-baixa">Baixa</option>
                                </select>
                            </div>
                    
                            <!-- Filtro de Dificuldade -->
                            <div class="filtro-item">
                                <label for="dificuldade">Tipo de Turismo</label>
                                <select name="dificuldade" id="dificuldade">
                                    <option value="todos">Todos</option>
                                    <option value="facil">Cultural</option>
                                    <option value="moderada">Natural</option>
                                </select>
                            </div>
                        </details>
                    </div>
                </li>
                <li>
                    <div class="button-filtrar">
                        <button>Filtrar</button>
                    </div>
                </li>
            </ul>
        </div>
     
        {% if pontos %}
            {% for ponto in pontos %}
                {% include "global/partials/_cards.html" %}
            {% endfor %}
        {% else %}
            <h2>Nenhum ponto encontrado</h2>
        {% endif %}
            
    </section>

{% include "global/partials/_footer.html" %}