{% load static %}

{% include "global/partials/_header.html" %}

    <section>
        <div>
            <h1>Nome Ponto Turistico</h1>
            <p>Endereço: </p>
            <p>Horário: </p>
            <p>Preço: </p>
        </div>

        <div>
            <h2>História e Curiosidades</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, optio amet maiores veritatis quae, tempora architecto, minima recusandae dicta iusto ex. Illo at voluptas sequi voluptatum nam illum nesciunt libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus error dolor dolore dicta ab a quis provident perspiciatis nisi. Esse quos, ipsum voluptate provident accusamus iste libero molestias ut debitis.</p>
        </div>

        <div>
            <h2>Galeria de Imagens</h2>
            <ul>
                <li>
                    <img src="#" alt="Imagem 01">
                </li>
                <li>
                    <img src="#" alt="Imagem 02">
                </li>
                <li>
                    <img src="#" alt="Imagem 03">
                </li>
            </ul>
        </div>

        <div>
            <h2>Atividades e Atrações</h2>
            <ul>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>  
            </ul>
        </div>

        <div>
            <h2>Endereço e Contatos</h2>
            <ul>
                <li>Endereço: <a href="#">Lorem ipsum dolor</a> </li>
                <li>
                    <div>
                        <img src="#" alt="Logo Instagram">
                    </div>
                    <p>@nomedoponto</p>
                </li>
                <li>
                    <div>
                        <img src="#" alt="Logo Telefone">
                    </div>
                    <p>(91) 987286703</p>
                </li>
            </ul>
        </div>

        <div>
            <h2>Comentarios</h2>
            <ul>
                <li>
                    <p>Comentario 01</p>
                </li>
                <li>
                    <p>Comentario 02</p>
                </li>
                <li>
                    <p>Comentario 03</p>
                </li>
            </ul>
        </div>

        <div>
            <button>
                Adicionar à Rota
            </button>
        </div>
    </section>

{% include "global/partials/_footer.html" %}