{% load static %}

{% include "global/partials/_header.html" %}

<section>
    <h1>Pontos Turísticos</h1>
    <div class="container">
        <div class="buscar">
            <div class="icon-container">
                <img src="{% static 'pontos_turisticos/img/lupa.png' %}" alt="Ícone da Lupa">
            </div>
            <form action="#" method="GET">
                <input type="text" class="search-input" placeholder="Pesquise seu ponto turístico" id="search" name="q">
            </form>
        </div>
    </div>
    <div class="amostra-pontos-turisticos">
        <h2>Pontos Mais Visitados</h2>
        <div class="galeria-de-imagem">
            <div class="image-container">
                <img src="imagem-1.jpg" alt="Ponto Turistico 1-1">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-2.jpg" alt="Ponto Turistico 1-2">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-3.jpg" alt="Ponto Turistico 1-3">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-4.jpg" alt="Ponto Turistico 1-4">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
        </div>
    </div>

    <div class="amostra-pontos-turisticos">
        <h2>Pontos Turísticos Culturais</h2>
        <div class="galeria-de-imagem">
            <div class="image-container">
                <img src="imagem-1.jpg" alt="Ponto Turistico 1-1">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-2.jpg" alt="Ponto Turistico 1-2">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-3.jpg" alt="Ponto Turistico 1-3">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-4.jpg" alt="Ponto Turistico 1-4">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
        </div>
    </div>

    <div class="amostra-pontos-turisticos">
        <h2>Pontos Turísticos Naturais</h2>
        <div class="galeria-de-imagem">
            <div class="image-container">
                <img src="imagem-1.jpg" alt="Ponto Turistico 1-1">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-2.jpg" alt="Ponto Turistico 1-2">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-3.jpg" alt="Ponto Turistico 1-3">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
            <div class="image-container">
                <img src="imagem-4.jpg" alt="Ponto Turistico 1-4">
                <div class="address">nome/endereço do ponto turistico</div>
            </div>
        </div>
    </div>
</section>

{% include "global/partials/_footer.html" %}

<!--
<div class="amostra-pontos-turisticos">
        <h2>Pontos Mais Visitados</h2>
        <div class="pontos-lista">
            <ul>
                {% for ponto in pontos_turisticos %}
                    {% if ponto.popularidade == "Alta" %}
                        <li>
                            <div class="ponto-turistico-item">
                                <img src="{% static 'pontos_turisticos/img/' %}{{ ponto.imagem }}" alt="{{ ponto.nome }}">
                                <h3>{{ ponto.nome }}</h3>
                                <p>{{ ponto.descricao }}</p>
                                <a href="{% url 'detalhes_ponto' ponto.id %}">Saiba mais</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
-->